body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
body{
  background-image: url(images/bg.jpg);
  background-size: 100%;
  display: flex;
  justify-content: center;
  height:100vh;
  align-items: center;
}
.App{
  width: 90vw;
  height: 90vh;
  background-color:rgba(0, 0, 0, 0.604);
  backdrop-filter: blur(19px) saturate(180%);
  border-radius: 10px;
  color: white;
  /* overflow-y: scroll; */
}
.componant-1{
  height: 457px;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  overflow-y: auto;
}
.user-avatar{
  width: 50px;
  height: 50px;
  border-radius:50%;
}
.chat-avatar{
  background-color: aliceblue;
  width: 40px;
  height: 40px;
  border-radius:50%;
}
.my-serach{
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
}
.my-serachbar{
  background-color: rgba(0, 0, 0, 0.56);
  border-radius: 10px;
  height: 35px;
  width: 200px;
}
.btn-add-chats:hover {
  cursor: pointer;
}
.my-chat-item{
  border-bottom: 1px solid rgb(136, 136, 136);
}
.my-chat-item-top{
  border-bottom: 1px solid rgb(136, 136, 136);
  border-top: 1px solid rgb(136, 136, 136);
}
.item-1{
  border-left: 1px solid rgb(136, 136, 136);
  width: 23%;
}
.item-2{
  border-left: 1px solid rgb(136, 136, 136);
  width: 50%;
}
.item-3{
  border-left: 1px solid rgb(136, 136, 136);
  width: 27%;
}
p{
 margin: 0 0 0 0; 
}
i:hover{
  cursor: pointer;
}
.top-chat-img{
  width: 60px;
  height: 60px;
  background-color: white;
  border-radius: 50%;
}
.chat-item-icons {
  /* position: fixed; */
  top: 0;
  right: 0;
}
.top-level{
  /* position: relative; */
  border-bottom: 1px solid rgb(136, 136, 136);
}
.txt-my-chat{
  background-color: transparent;
  border: none;
  width: 400px;
  outline: none;
  color: white;
}
.my-input-box{
  background-color: rgba(0, 0, 0, 0.56);
  border-radius: 10px;
  height: 40px;
  width: 450px;
}
.last-item{
  position: absolute;
  right: 5px;
}
.mid-level{
  height: 450px;
  border-bottom: 1px solid rgb(136, 136, 136);
}
.bottom-level{
  position: relative;
}
.icons{
  position: relative;
  .emoji-container{
    position: absolute;
    bottom: 45px;
  }
}

.msg-avatar-img{
  width: 25px;
  height: 25px;
  background-color: white;
  border-radius: 50%;
}
.msg-timestamp{
  font-size: 12px;
  padding: 0 0 0 0;
}
.msg-text-p{
  font-size: 14px;
}
.mid-level{
  padding: 20px;
  flex: 1;
  overflow-y: scroll;
  -ms-overflow-style: none; 
  scrollbar-width: none; 
  display: flex;
  flex-direction: column;
  gap:10px;

  .msg{
    max-width: 70%;
    display: flex;
    gap: 10px;
    p{
      padding: 10px;
      background-color: rgba(0, 0, 25, 0.334);
      border-radius: 10px;
    }
  }
  .own{
    align-self: flex-end !important;
    p{
      padding: 10px;
      background-color: rgba(0, 0, 255, 0.568);
      border-radius: 10px;
    }
  }
}
.btn-add{
  background-color: rgba(0, 0, 0, 0.56);
  border-radius: 10px;
  padding: 10px;
}
.msg-img{
  height: 200px;
  width: 100%;
  padding: 10px;
  border-radius: 15px;
  object-fit: cover;
}